In [1]:
import os
import csv
import pandas as pd
import numpy as np

In [2]:
partial = pd.read_csv("dataset_clustered.csv", index_col = 0)

In [3]:
annotated = partial[partial['annotated'] == True]
annotated.head()

,sentences,greeting,misc:books,misc:hats,misc:balls,need:books,need:hats,need:balls,offer:books,offer:hats,offer:balls,inquiry,agreement,thanks,numeric,same,annotated,cluster
index,,,,,,,,,,,,,,,,,,
12316,1,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,1,False,True,16
7922,2,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,2,False,True,19
13776,2,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,2,False,True,19
21820,2,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,2,False,True,19
1611,3,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,3,False,True,7

In [4]:
def get_item_str(row, prefix):
    items_str = ""
    n_books = str(row[f"{prefix}:books"])
    n_hats = str(row[f"{prefix}:hats"])
    n_balls = str(row[f"{prefix}:balls"] )
    if n_books and n_books != 'nan':
        items_str += f"_books:{n_books} "
    if n_hats and n_hats != 'nan':
        items_str += f"_hats:{n_hats} "
    if n_balls and n_balls != 'nan':
        items_str += f"_balls:{n_balls}"
    return items_str

def make_template(annotated_row):
    template_str = ""
    if annotated_row['greeting']:
        template_str += "_greeting "
    
    if annotated_row['agreement'] == 'Full':
        template_str += "_deal "
    elif annotated_row['agreement'] == 'Yes':
        template_str += "_yes "
    elif annotated_row['agreement'] == 'No Deal':
        template_str += "_nodeal "        
    elif annotated_row['agreement'] == 'Counter':
        template_str += "_counteroffer "   
        
    items_str = get_item_str(annotated_row, "misc")
    if len(items_str) > 0 :
        template_str += "_misc (" + items_str + ") "
    items_str = get_item_str(annotated_row, "need")
    if len(items_str) > 0 :
        template_str += "_need (" + items_str + ") "
    items_str = get_item_str(annotated_row, "offer")
    if len(items_str) > 0 :
        template_str += "_offer (" + items_str + ") "
    
    
    if annotated_row['thanks']:
        template_str += "_thanks "
    return template_str

In [5]:
annotated['template'] = annotated.apply(make_template, axis=1)

/home/ravy/anaconda3/envs/py379/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [6]:
annotated

,sentences,greeting,misc:books,misc:hats,misc:balls,need:books,need:hats,need:balls,offer:books,offer:hats,offer:balls,inquiry,agreement,thanks,numeric,same,annotated,cluster,template
index,,,,,,,,,,,,,,,,,,,
12316,1,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,1,False,True,16,
7922,2,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,2,False,True,19,
13776,2,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,2,False,True,19,
21820,2,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,2,False,True,19,
1611,3,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,3,False,True,7,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19122,yup !,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Full,False,NaN,False,True,5,_deal
20381,yup impossible unless one person gets low poin...,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No Deal,False,NaN,False,True,16,_nodeal
16405,yup no deal,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No Deal,False,NaN,False,True,-1,_nodeal
10012,"yup no deal , how about i get the ball and you...",False,NaN,NaN,NaN,NaN,NaN,1,rest,rest,rest,NaN,Counter,False,NaN,False,True,19,_counteroffer _need (_balls:1) _offer (_books:...
9134,yup works for me,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Full,False,NaN,False,True,16,_deal

In [8]:
template_sample = annotated[annotated['template'] != '']

In [11]:
template_sample[['sentences', 'template']].sort_index().to_csv("template_sample.csv")