In [70]:
import pandas as pd
import os 
import string

In [71]:
data_path = "data/negotiate"
lines = []
file_name = os.path.join(data_path, 'data.txt')
with open(file_name, 'r') as f:
    for line in f:
        lines.append(line.strip())
g =  [line[:12] for line in lines]
o =  [line[-12:] for line in lines]
selection = [line[12:-12].split('<eos>')[-2].split('<selection>')[1] for line in lines]
rew = [line[12:-12].split('<eos>')[-1][8:] for line in lines]
dialog = [line[12:-12].split('<eos>')[:-2] for line in lines]

In [72]:
df = pd.DataFrame({'g':g, 'dialog':dialog, 'selection':selection, 'reward':rew, 'outcome':o})
df.head()
df.to_csv("nego_games.csv", index=False)

In [73]:
deals = [s.strip() != 'no agreement' for s in selection]

In [74]:
sum(deals)/2

5460.0

In [75]:
df['books']  = [g.split()[0] for g in df['g']]
df['hats']  = [g.split()[2] for g in df['g']]
df['balls']  = [g.split()[4] for g in df['g']]

In [76]:
df

,g,dialog,selection,reward,outcome,books,hats,balls
0,1 0 4 2 1 2,[YOU: i would like 4 hats and you can have the...,item0=0 item1=4 item2=0,8 agree,1 4 4 1 1 2,1,4,1
1,1 4 4 1 1 2,[THEM: i would like 4 hats and you can have th...,item0=1 item1=0 item2=1,6 agree,1 0 4 2 1 2,1,4,1
2,1 6 3 0 2 2,[YOU: you can have all the hats if i get the b...,item0=1 item1=3 item2=2,10 disagree,1 2 3 2 2 1,1,3,2
3,1 10 3 0 1 0,[ YOU: hi i would like the book and ball and y...,item0=1 item1=0 item2=0,10 agree,1 2 3 2 1 2,1,3,1
4,1 2 3 2 1 2,[THEM: hi i would like the book and ball and y...,item0=0 item1=3 item2=1,8 agree,1 10 3 0 1 0,1,3,1
...,...,...,...,...,...,...,...,...
12229,1 7 2 0 3 1,"[THEM: one book one hat to me , all else to yo...",item0=0 item1=1 item2=3,3 agree,1 3 2 2 3 1,1,2,3
12230,1 1 1 0 3 3,"[THEM: i need the book and a ball , YOU: how ...",item0=0 item1=0 item2=3,9 agree,1 3 1 1 3 2,1,1,3
12231,1 3 1 1 3 2,"[YOU: i need the book and a ball , THEM: how ...",item0=1 item1=1 item2=0,4 agree,1 1 1 0 3 3,1,1,3
12232,1 0 2 1 2 4,"[THEM: i want the book and both hats , you get...",item0=0 item1=0 item2=2,8 agree,1 4 2 2 2 1,1,2,2
12233,1 4 2 2 2 1,"[YOU: i want the book and both hats , you get ...",item0=1 item1=2 item2=0,8 agree,1 0 2 1 2 4,1,2,2

In [77]:
sents = []

for d in df['dialog']:
    for sent in d:
        s = sent.strip()
        if s[:3] == 'YOU':
            sents.append(s[4:].strip())

In [78]:
for s in df['dialog'][1]:
    print(s.split(':')[1].strip())

i would like 4 hats and you can have the rest .
deal

In [79]:
with open('sent.txt', 'w') as f:
    for s in sents:
        f.write(s +'\n')

In [80]:
df = pd.DataFrame({"sentences":sents})

In [81]:
df

                                               sentences
0        i would like 4 hats and you can have the rest .
1                                                   deal
2      you can have all the hats if i get the book an...
3      hi i would like the book and ball and you can ...
4                                      ill take the book
...                                                  ...
30529             take all the balls rest for me i guess
30530                                                mmk
30531                                               sold
30532  i want the book and both hats , you get the ba...
30533                                      it's a deal ?

[30534 rows x 1 columns]

In [82]:
import csv

In [83]:
partial = pd.read_csv("dataset100.csv", index_col=0)

In [84]:
partial

,sentences,greeting,need:books,need:hats,need:balls,offer:books,offer:hats,offer:balls,inquiry,agreement
index,,,,,,,,,,
0,i would like 4 hats and you can have the rest .,False,NaN,4,NaN,all,0,all,NaN,NaN
1,deal,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Full
2,you can have all the hats if i get the book an...,False,1,NaN,all,NaN,all,NaN,NaN,NaN
3,hi i would like the book and ball and you can ...,True,1,NaN,1,NaN,all,NaN,NaN,NaN
4,ill take the book,False,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
30529,take all the balls rest for me i guess,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30530,mmk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30531,sold,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30532,"i want the book and both hats , you get the ba...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30533,it's a deal ?,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [86]:
full = df.join(partial, how='inner')

ValueError: columns overlap but no suffix specified: Index(['sentences'], dtype='object')

In [85]:
df

                                               sentences
0        i would like 4 hats and you can have the rest .
1                                                   deal
2      you can have all the hats if i get the book an...
3      hi i would like the book and ball and you can ...
4                                      ill take the book
...                                                  ...
30529             take all the balls rest for me i guess
30530                                                mmk
30531                                               sold
30532  i want the book and both hats , you get the ba...
30533                                      it's a deal ?

[30534 rows x 1 columns]

In [76]:
#full.to_csv("dataset2.csv", quoting=csv.QUOTE_NONNUMERIC)

In [18]:
words = []
[words.extend(s.translate(str.maketrans('', '', string.punctuation)).strip().split()) for s in sents]
word_dict = dict()
for w in words:
    if w in word_dict.keys():
        word_dict[w] = word_dict[w] + 1
    else:
        word_dict[w] = 1

In [39]:
print(f"Number of games: {len(deals)/2}, deals made: {sum(deals)/2}")
print(f"Number of messages: {len(sents)}")
print(f"Number of words: {sum([len(s.strip().split()) for s in sents])}")
print(f"Number of unique words: {len(word_dict)}")

Number of games: 6117.0, deals made: 5460.0
Number of messages: 30534
Number of words: 270644
Number of unique words: 2557

In [41]:
sort_words = sorted(word_dict.items(), key=lambda x: x[1], reverse=True)

for i in sort_words:
    print(i[0], i[1])

the 6550
and 4553
i 3710
you 2520
can 2216
have 2145
like 2048
hat 1933
book 1892
ball 1768
books 1745
hats 1726
balls 1673
would 1360
id 794
take 776
2 734
a 712
1 696
want 625
rest 622
if 604
one 576
need 536
all 508
two 493
ill 468
hi 349
to 346
get 338
of 338
give 316
what 301
both 298
me 291
please 254
for 236
hello 213
3 200
keep 184
will 153
how 152
each 142
else 138
about 137
everything 135
just 122
gimme 115
could 114
basketball 107
do 106
three 96
basketballs 88
hey 78
are 78
there 75
is 75
love 70
or 68
really 66
ok 58
be 56
in 54
offer 54
im 52
that 49
deal 48
4 47
with 43
may 40
items 37
value 36
your 35
item 34
other 32
my 32
let 31
at 30
so 29
thats 28
either 26
it 23
but 23
good 23
yours 23
which 20
least 20
on 20
any 20
this 20
some 20
looking 17
we 16
split 16
exchange 16
those 16
willing 16
most 15
only 14
u 14
does 14
cowboy 14
happy 14
possible 13
think 13
use 12
read 12
am 12
also 11
interested 11
cede 11
worth 11
sound 10
today 10
too 10
as 10
work 9
up 9
return 9
maybe 9
going 9
four 9
dont 9
sure 8
not 8
anything 8
important 8
off 8
great 8
them 8
object 8
ranger 8
reading 7
more 7
works 7
thoughts 7
tell 7
evening 7
has 7
another 7
lets 7
power 7
here 7
wan 7
well 6
valuable 6
okay 6
go 6
couple 6
request 6
prefer 6
cool 6
something 6
greetings 6
kind 6
make 6
hows 6
ll 6
trade 6
mind 6
much 5
choosing 5
must 5
negotiable 5
no 5
out 5
getting 5
nice 5
atleast 5
every 5
high 5
remaining 5
kindly 5
leave 5
come 5
set 5
ventures 5
save 5
world 5
accept 5
big 5
sir 5
reader 4
see 4
thank 4
part 4
5 4
il 4
best 4
thinking 4
doing 4
lemme 4
hands 4
tak 4
ya 4
quite 4
then 4
wish 4
know 4
afternoon 4
howdy 4
whatever 4
spare 4
grab 4
whats 4
day 4
us 4
very 4
6 4
while 4
say 4
ca 4
an 4
th 4
down 3
bad 3
lot 3
its 3
real 3
obliged 3
ahve 3
pretty 3
single 3
tke 3
nerd 3
covet 3
hiya 3
live 3
hold 3
bald 3
annd 3
eveyrthing 3
who 3
fine 3
hmm 3
group 3
hate 3
basket 3
teh 3
fair 3
everythign 3
ht 3
many 3
d 3
than 3
choice 3
from 3
enjoy 3
looks 3
youre 3
yo 3
athletic 3
middle 2
giving 2
theyre 2
sunny 2
stuff 2
flexible 2
these 2
fancy 2
super 2
end 2
thehat 2
turker 2
wanting 2
minus 2
close 2
preference 2
bookloving 2
feel 2
propose 2
before 2
pick 2
right 2
useless 2
cann 2
try 2
mauve 2
they 2
low 2
50 2
abd 2
particularly 2
woud 2
straight 2
line 2
negotiate 2
catch 2
cant 2
wont 2
sending 2
content 2
giv 2
eyou 2
chance 2
whos 2
life 2
trying 2
talk 2
wear 2
ahts 2
m 2
knowledge 2
boks 2
away 2
whaddya 2
got 2
loving 2
simple 2
welcome 2
ideal 2
wouldnt 2
thsts 2
nd 2
hear 2
points 2
figure 2
terribly 2
thing 2
after 2
now 1
outside 1
since 1
bsall 1
absolutely 1
wouldlike 1
idea 1
awesome 1
john 1
wayne 1
style 1
lately 1
lik 1
rather 1
fabulous 1
strikes 1
grabs 1
bok 1
fast 1
bals 1
e 1
al 1
hates 1
alright 1
junk 1
main 1
badly 1
fora 1
aball 1
bookl 1
collection 1
sort 1
letting 1
first 1
born 1
hot 1
son 1
always 1
wanted 1
pacific 1
southwest 1
new 1
ranch 1
othe 1
choices 1
fantastic 1
givebook 1
head 1
handle 1
youcan 1
motor 1
boat 1
elsr 1
llike 1
except 1
thebook 1
feeling 1
howd 1
worthless 1
desire 1
study 1
gunna 1
wantt 1
he 1
messages 1
early 1
goign 1
different 1
taker 1
dreams 1
entering 1
nba 1
useful 1
w 1
pleaes 1
ihave 1
thr 1
couldnt 1
dream 1
parting 1
suggest 1
wardrobe 1
even 1
mysel 1
wonderful 1
beg 1
plus 1
firstborn 1
cerise 1
nothing 1
less 1
critical 1
without 1
wahts 1
almost 1
positive 1
strike 1
iwant 1
offering 1
gifts 1
kids 1
sick 1
range 1
learn 1
likes 1
play 1
horse 1
whadda 1
look 1
shall 1
happiest 1
sentimental 1
ticket 1
yuo 1
pleae 1
hits 1
o 1
oh 1
ugly 1
same 1
heyo 1
rejected 1
score 1
again 1
wiling 1
spring 1
break 1
taake 1
booksk 1
last 1
otherwise 1
t 1
oyou 1
onje 1
basketbll 1
start 1
cani 1
transferred 1
soon 1
splits 1
order 1
help 1
defend 1
angel 1
grove 1
rita 1
jjust 1
fantasic 1
gve 1
surew 1
wat 1
ic 1
button 1
appearing 1
gladly 1
aht 1
wouldl 1
coupon 1
taco 1
bell 1
chalupa 1
spiffy 1
along 1
worm 1
share 1
passion 1
sports 1
values 1
spread 1
around 1
pls 1
things 1
twice 1
few 1
honest 1
ike 1
iw 1
ould 1
kidding 1
though 1
gorgeous 1
lovely 1
nelse 1
hmmm 1
ingeretsing 1
partner 1
res 1
been 1
searching 1
entire 1
thrall 1
especially 1
did 1
halfq 1
whichever 1
bout 1
shamrock 1
waste 1
system 1
doesnt 1
accepting 1
quickly 1
don 1
wearing 1
soooo 1
ballz 1
mainly 1
tht 1
cats 1
ho 1
wabout 1
preferably 1
needthe 1
oops 1
feelings 1
balla 1
eye 1
gun 1
taking 1
reset 1
being 1
settle 1
caps 1
should 1
mine 1
ready 1
shade 1
season 1
year 1
iwould 1
call 1
anyway 1
ad 1
kinds 1
bokos 1
definitely 1
category 1
jsut 1
boos 1
assume 1
higher 1
hopefully 1
thatll 1
enough 1
keeping 1
booka 1
hav 1
walk 1
agree 1
learning 1
sun 1
eyes 1
others 1
evenly 1
fan 1
chap 1
friend 1
interest 1
brah 1
particular 1
clue 1
ew 1
youd 1
wannt 1
wantthe 1
discuss 1
periwinkle 1
leaving 1
goodday 1
ascertain 1
by 1
communication 1
took 1
left 1
dispose 1
fit 1
ii 1
friendo 1
grouping 1
ypou 1
f 1
tow 1
andbook 1
objections 1
disconnecting 1
lines 1
negotiation 1
stop 1
interesed 1
red 1
ans 1
amd 1
ones 1
abook 1
partial 1
booksw 1
balkls 1
objects 1
choose 1
twoo 1
liek 1

In [49]:
pd.DataFrame({"Word": [w[0] for w in sort_words], "Count": [w[1] for w in sort_words]}).head(25)

     Word  Count
0     the   6550
1     and   4553
2       i   3710
3     you   2520
4     can   2216
5    have   2145
6    like   2048
7     hat   1933
8    book   1892
9    ball   1768
10  books   1745
11   hats   1726
12  balls   1673
13  would   1360
14     id    794
15   take    776
16      2    734
17      a    712
18      1    696
19   want    625
20   rest    622
21     if    604
22    one    576
23   need    536
24    all    508